  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    {% if parameters.error %}
    <div class="alert alert-danger text-center">
      <h3>Errore!</h3> {{parameters.error}}
    </div>
    {% endif %}
  </div>