  <div class="small-12 medium-8 medium-offset-2 columns">
    {% if parameters.sequence %}
      <h1 class="text-center">Classifica Fantacalcio</h1>
        <table class="center">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Username</th>
              <th class="text-center">Punti</th>
            </tr>
          </thead>
          <tbody>
          {% for data in parameters.sequence %}
            <tr>
              <td class="text-center">{{loop.index}}</td>
              <td class="text-center">{{data.username}}</td>
              <td class="text-center">{{data.points}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
        <div data-alert class="alert-box warning radius text-center">
            <h3>Attenzione</h3> Nessun utente è registrato :(
        </div>
    {% endif %}
  </div>