  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Classifica Fantacalcio</h1>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th class="text-center">Username</th>
            <th class="text-center">Punti</th>
          </tr>
        </thead>
        <tbody>
        {% for data in parameters.sequence %}
          <tr class="text-center">
            <td>{{data.username}}</td>
            <td>{{data.points}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>