  <div class="small-12 medium-8 medium-offset-2 columns">
    {% if parameters.error %}
      <div data-alert class="alert-box alert radius text-center">
        <h3>Errore!</h3>{{parameters.error}}
      </div>
    {% endif %}
    {% if parameters.success %}
      <div data-alert class="alert-box success radius text-center">
        <h3>Accesso Effettuato</h3>{{parameters.success}} 
      </div>
    {% else %}
      <form action="login" method="POST" role="form">
        <legend>Login</legend>
          <div class="row">
            <div class="small-12 columns">
              <div class="row collapse">
                <div class="small-1 columns"><span class="prefix fi-torso"></span></div>
                <div class="small-11 columns"><input type="text" id="username" name="username" placeholder="Username" required="required"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="row collapse">
                <div class="small-1 columns"><span class="prefix fi-lock"></span></div>
                <div class="small-11 columns"><input type="password" id="password" name="password" placeholder="Password" required="required"></div>
              </div>              
            </div>
          </div>
        <div class="row">
          <div class="small-12 columns">
            <input type="checkbox" value="true" name="remember" id="remember">
            <label for="remember">Ricordati di me</label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns text-center">
            <button type="submit" class="button radius">Accedi</button>        
          </div>
        </div>
      </form>        
    {% endif %}
  </div>