  <div class="small-12 medium-8 medium-offset-2 columns">
    {% if parameters.error %}
      <div data-alert class="alert-box alert radius text-center">
        <h3>Errore!</h3>{{parameters.error}}
      </div>
    {% endif %}
    {% if parameters.success %}
      <div data-alert class="alert-box success radius text-center">
        <h3>Logout effettuato</h3>{{parameters.success}} 
      </div>              
    {% endif %}
  </div>