  <div class="small-12 medium-8 medium-offset-2 columns">
    {% if parameters.error %}
      <div data-alert class="alert-box alert radius text-center">
        <h3>Errore!</h3>{{parameters.error}}
      </div>
    {% endif %}
    {% if parameters.success %}
      <div data-alert class="alert-box success radius text-center">
        <h3>Registrazione effettuata</h3>{{parameters.success}} 
      </div>
    {% else %}
      <form action="register" method="POST" role="form">
        <legend>Registrazione</legend>
        <div class="row">
          <div class="small-12 columns">
              <label for="username">Nome Utente</label>
              <input type="text" class="has-help" id="username" name="username" placeholder="Username" required="required">
              <small class="help-block">Compreso tra 3 e 15 caratteri, lettere e numeri, primo carattere una lettera. No spazi.</small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
              <label for="password">Password</label>
              <input type="password" class="has-help" id="password" name="password" placeholder="Password" required="required">
              <small class="help-block">Minimo 6 caratteri. No spazi.</small>
          </div>
          <div class="small-6 columns">
            <label for="repeat-password">Ripeti Password</label>
            <input type="password" id="repeat-password" name="repeat-password" placeholder="Ripeti Password" required="required">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label for="invite-code">Codice Invito</label>
            <input class="has-help" type="text" id="invite-code" name="invite-code" placeholder="Inserisci il tuo invito" required="required">
            <small class="help-block">Inserisci il codice invito che ti è stato fornito.</small>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns text-center">
            <button type="submit" class="button radius" id="registerBtn">Registrati</button>        
          </div>
        </div>
      </form>        
    {% endif %}
  </div>