  <div class="small-12 medium-8 medium-offset-2 columns">
    {% if parameters.error %}
      <div data-alert class="alert-box alert radius text-center">
        <h3>Errore!</h3>{{parameters.error}}
      </div>
    {% endif %}
    {% if parameters.success %}
      <div class="alert alert-success text-center">
        <h3>Registrazione effettuata</h3><br />{{parameters.success}} 
      </div>
    {% else %}
      <form action="register" method="POST" role="form">
        <legend>Registrazione</legend>
        <div class="form-group">
          <label for="username" class="sr-only">Username</label>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="required">
          </div>
          <small class="help-block">Compreso tra 3 e 15 caratteri, lettere e numeri, primo carattere una lettera. No spazi.</small>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
          </div>
          <small class="help-block">Minimo 6 caratteri. No spazi.</small>
        </div>
        <div class="form-group">
          <label for="repeat-password" class="sr-only">Ripeti Password</label>
          <div class="input-group">
            <span class="input-group-addon">Ripeti Password</span>
            <input type="password" class="form-control" id="repeat-password" name="repeat-password" placeholder="Ripeti Password" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="invite-code" class="sr-only">Codice invito</label>
          <div class="input-group">
            <span class="input-group-addon">Codice Invito</span>
            <input type="text" class="form-control" id="invite-code" name="invite-code" placeholder="Inserisci il tuo invito" required="required">
          </div>
          <small class="help-block">Inserisci qui sopra il codice invito che ti è stato fornito.</small>
        </div>
        <button type="submit" class="btn btn-primary" id="registerBtn">Registrati</button>
      </form>        
    {% endif %}
  </div>