  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Regolamento Fantacalcio</h1>
    <h4>Indice</h4>
    <ol>
      <li><a href="#rosa">Rosa</a></li>
      <li><a href="#bm">Bonus e Malus</a></li>
      <li><a href="#budget">Budget per il Mercato</a></li>
      <li><a href="#acquisti">Mercato e Acquisti</a></li>
      <li><a href="#formazione">Schierare la Formazione</a></li>
    </ol>
    <hr>
    <h3 id="rosa">Rosa</h3>
    <p>La rosa di ciascuna squadra è composta da 23 calciatori:</p>
    <ul>
      <li>3 portieri</li>
      <li>7 difensori</li>
      <li>8 centrocampisti</li>
      <li>5 attaccanti</li>
    </ul>

    <h3 id="bm">Bonus e Malus</h3>
    <p>Ad ogni giocatore sono assegnati Bonus e Malus al termine di ogni giornata:</p>
    <ul>
      <li class="text-success">+3 gol segnato</li>
      <li class="text-success">+3 rigore parato</li>
      <li class="text-success">+1 assist servito</li>
      <li class="text-danger">-0,5 ammonizione: </li>
      <li class="text-danger">-1 espulsione</li>
      <li class="text-danger">-1 gol subito</li>
      <li class="text-danger">-2 autogol</li>
      <li class="text-danger">-3 rigore fallito</li>
    </ul>

    <h3 id="budget">Budget per il mercato</h3>
    <p>Al momento della registrazione l'utente avr&agrave; a disposizione {{userMoney}} crediti.</p>
  
    <h3 id="acquisti">Mercato e Acquisti</h3>
    <p>Il mercato rimane aperto tutto l'anno. Viene chiuso 5 minuti prima dell'inizio della giornata e riaperto 10 minuti dopo la fine.</p>

    <h3 id="formazione">Schierare la formazione</h3>
    <p>&Egrave; possibile schierare la formazione fino a 5 minuti prima dell'inizio della giornata (ovvero fino a 5 minuti prima dell'inizio della prima partita della giornata).</p>
  </div>