/*=================================================================================**
**                                                                                 **
**                              CORE STRUCTURE                                     **
**                                                                                 **
**=================================================================================*/

/*
  Add the padding top and bottom only to the column(s) that wraps the whole structure
  of the page.
*/
table tr td{
  font-size: 1rem;
}

.main-section > .row:first-child > .column:first-child,
.main-section > .row:first-child > .columns:first-child {
  padding-top: 30px;
  padding-bottom: 30px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
.fullsize {
  width: 100%;
}
.top-bar-section ul li > span {
  color: #FFFFFF;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  padding: 12px 0.9375rem 12px 0;
  text-transform: none;
  width: 100%;
}
.help-block {
  display: block;
  margin-bottom: 1rem;
  color: #737373;
}

input.has-help{
  margin-bottom: 0;
}
/*=================================================================================**
**                                                                                 **
**                                TYPOGRAPHY                                       **
**                                                                                 **
**=================================================================================*/
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

small{
  font-size: 80%;
}
/* Text color classes */
.text-muted {
  color: #777777;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #4f4f4f;
}

.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
/* Label */
.label {
  display: inline;
  font-size: 70%;
  vertical-align: baseline;
}

/* Heading in alerts */
.alert-box.success h1,
.alert-box.success h2,
.alert-box.success h3,
.alert-box.success h4,
.alert-box.success h5,
.alert-box.success h6 {
  color: #FFFFFF; }
.alert-box.alert h1,
.alert-box.alert h2,
.alert-box.alert h3,
.alert-box.alert h4,
.alert-box.alert h5,
.alert-box.alert h6 {
  color: #FFFFFF; }
.alert-box.secondary h1,
.alert-box.secondary h2,
.alert-box.secondary h3,
.alert-box.secondary h4,
.alert-box.secondary h5,
.alert-box.secondary h6 {
  color: #4f4f4f; }
.alert-box.warning h1,
.alert-box.warning h2,
.alert-box.warning h3,
.alert-box.warning h4,
.alert-box.warning h5,
.alert-box.warning h6 {
  color: #FFFFFF; }
.alert-box.info h1,
.alert-box.info h2,
.alert-box.info h3,
.alert-box.info h4,
.alert-box.info h5,
.alert-box.info h6 {
  color: #4f4f4f; }

/* Background color classes */
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}

@media only screen and (max-width: 40em) { 
  section.main-section{
    margin-top: 50px;
  }
}
