    <section class="main-section">
      <div class="row">
        {% include "pages/" ~ twigTemplate ~ ".twig" %}      
      </div>
    </section>
  </div>{# These are closing divs opened in navbar.twig#}
</div>