  <body>
    {% include 'navbar-v2.twig' %}
      <div class="container-fluid">
        <div class="row">
          {% include "pages/" ~ twigTemplate ~ ".twig" %}      
        </div>     
      </div>
  {% include 'footer.twig' %}
  </body>