<!DOCTYPE html>
<html lang="en">
  {% include 'header.twig' %}
  <body>
    <div class="row">
      <div class="small-12 columns">
        <div class="alert-box alert warning text-center">
          <h3>Manutenzione</h3>{{parameters.error}}
        </div>          
      </div>
    </div>     
  {% include 'footer.twig' %}
  </body>
</html>